<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>About</title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101259364-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div class="container-fluid">
<div class="container-fluid">
<div class="navbar navbar-inverse">
<a class="navbar-brand" href="/" style="font-size:30px;margin-left:40px"> Wings</a><br>
<ul class="nav navbar-nav" style="float:right;margin-right:10%">

<li><a href="{% url 'faunasea:about' %}">About</a></li>

<li><a href="{% url 'faunasea:contact' %}">Contact</a></li>
</ul>
</div>

</div>
<div class="container">

<div class="panel panel-info" style="margin-top:10%">
<div class="panel-heading">
The Project
</div>

<div class="panel panel-body">
<i class="text-align:center">Land/Marine Animal cruelty is a nationwide worldwide problem rapildy grown in today's society.</i><br><br>
<h4>The FaunaSea is the initiative taken to help the Animals</h4>
</div>

</div>
</body>
</html>